.Buton{
    height:40px;
    width:120px;
    background-color:#ff6a00;
    color:#ffffff;
    font-size:18pt;
    font-family:'Agency FB';

}
.Label{
    background-color:#00ff21;
    font-size:12pt;
    color:blue;
}
.Div{
    background-color:gray;
    width:400px;
    height:100px;
    margin-left:50px;
    margin-top:50px;

}